# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform variables
terraform.tfvars

# Sensitive files
*.pem
*.key
*.pfx

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log